.linker-decoration {
	border: 0.25em solid grey;
	background-color:#eee;
    clear: both;
    margin-bottom: 0.75em;
    padding: 0.25em 0.25em 1em 0.25em;
}
.current-link h3{margin-top:0.4em;}
.operator-fieldset .form-radios *{ display:inline; width:10%;}
.operator-fieldset .form-radios .form-item label.option {display:inline-block;}
.holder {
	display:inline-block;
	border:1px solid grey;
	background-color:#fff;
	padding:0.7em 0.4em;
	margin:0.2em;
}
.small-fieldset{
	display: inline;
    margin-bottom: 0.75em;
    margin-left: 1em;
    margin-top: 0.2em;
    width: 40%;
}

.small-fieldset .form-item,
.quantity-fieldset #edit-components-wrapper 
{float:left; width:auto; margin-left: 1em;}

#link-components-form-constructor .form-submit{
	margin-top: 1em;
	margin-left: 1em;
}

.quantity-fieldset .holder{
	display:inline-block;
}
.trash img {
    margin: -1em 1em -1em -1em;
    width: 3em;
}

.trash {
	float: right;
	margin: 0;
}

.ui-highlight { 
	background-color: yellow;
    border: 2px solid blue;
}

.delete {
	margin-left:0.4em;
}

.hide {display:none};